<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Colombo TV</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
          <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/programs">
          Programs
        </ion-item>
        <ion-item menu-toggle href="#/app/conversations">
          Messages
        </ion-item>
        <ion-item menu-toggle href="#/app/chat_with_colombotv">
          Public Chat
        </ion-item>
        <ion-item menu-close href="#/app/account" ng-hide="$root.hideTabs">
          Account
        </ion-item>
        <ion-item menu-close href="#/app/fbaccount" ng-hide="$root.hidefbTabs">
          Account
        </ion-item>
        <ion-item menu-toggle href="#/app/users">
          Users
        </ion-item>
          <ion-item menu-close ng-click="logOut()">
          Sign Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
