<ion-view title="Chat" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item>Europe #1 Chat room</ion-item>
            <ion-item>Europe #2 Chat room</ion-item>
            <ion-item>US</ion-item>
            <ion-item>Canada</ion-item>
        </ion-list>
    </ion-content>
</ion-view>