<ion-view title="Conversations" id="conversations">
 <ion-nav-buttons side="right">
    <button ng-click="openNewConversationModal()"
            class="button button-clear button-positive button-icon ion-ios-compose-outline">
    </button>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
        <ion-item ng-hide="conversations.length">No conversations</ion-item>
            <ion-item
        ng-repeat="conversation in conversations | filter: { archive: '!'+true, active: true } | orderBy:'-lastMessage.timestamp'"
        class="item-message item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        href="#/conversations/{{conversation.conversationId}}">
        <img ng-src="{{conversation.picture}}">
        <h2>{{conversation.name | limitTo:18 }}<span ng-if="conversation.name.length>18">...</span></h2>
        <p>{{conversation.lastMessage.text}}</p><p ng-show="conversation.blocker">(Blocked)</p>
        <i class="icon ion-android-more-horizontal seen-notice" ng-show="conversation.lastMessage.seen=='true'"></i>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <span class="last-message-timestamp">{{conversation.lastMessage.timestamp | calender }}</span>
        <span class="last-message-timestamp" ng-show="conversation.blocked=='true'">Blocked</span>
        <ion-option-button class="button-assertive" ng-click="remove(conversation.id)">Archive</ion-option-button>
        <ion-option-button class="button" ng-click="block(conversation.id)" ng-show="!conversation.blocker">Block</ion-option-button>
        <ion-option-button class="button" ng-click="unblock(conversation.id)" ng-show="conversation.blocker">Unblock</ion-option-button>
      </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<!-- Timestamp style -->
<style>
.item-message .last-message-timestamp {
  position: absolute;
  top: 16px;
  right: 38px;
  font-size: 14px;
  color: #9A9898;
}
.item-message .seen-notice {
  posiiton: absolute;
  top: 10px;
  right: 38px;
  font-size: 18px;
  color: #0040ff;
}
</style>