<ion-view title="Login" id="login" hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header has-footer">
        <div class="spacer" style="width: 300px; height: 108px;"></div>
        <form class="list">
            <h1 id="login-heading1" style="color:#000000;">Login</h1>
            <label class="item item-input" name="Email">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input" name="Password">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
        </form>
        <a ui-sref="tabsController.newsFeed" id="login-button1" class="button button-positive  button-block icon-right ion-android-arrow-forward">Login</a>
        <div class="spacer" style="width: 300px; height: 160px;"></div>
    </ion-content>
</ion-view>