
<ion-view view-title="{{conversation.name}}">
<ion-nav-buttons side="left">
  <button class="button button-clear" ng-click="goBack();">
  <i class="ion-arrow-left-c"></i> Back
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button button-clear"><img class="header-picture" ng-src="{{conversation.picture}}"></button>
    </ion-nav-buttons>
  <ion-content class="chat" delegate-handle="chatScroll">
    <div class="message-list">
      <div ng-repeat="message in messages" class="message-wrapper">
           <div class="message" ng-class="message.userId == thisUserId ? 'message-mine' : 'message-other'">
          <div class="message-text">{{message.text}}</div>
          <span class="message-timestamp">{{message.timestamp | amDateFormat: 'HH:MM' }}</span>
        <i class="icon ion-android-done-all read-notice" ng-show="false"></i>
        <i class="icon ion-android-done sent-notice" ng-hide="false" ></i>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable footer-chat item-input-inset">
    <button class="button button-clear button-icon button-positive icon ion-ios-upload-outline" hidden></button>
    <label class="item-input-wrapper">
      <input
        ng-model="data.message"
        on-return="sendMessage()"
        on-focus="inputUp()"
        on-blur="inputDown()"
        dir="auto"
        type="text"/>
    </label>
    <span ng-if="data.message.length > 0">
      <button ng-click="sendMessage()" class="button button-clear button-positive">Send</button>
    </span>
    <span ng-if="!data.message || data.message.length === 0">
      <button class="button button-clear button-positive" disabled>Send</button>
    </span>
  </ion-footer-bar>
</ion-view>
<!-- WhatsApp styles -->
<style>
.chat {
  background-image: url(img/chat-background.jpg);
  background-color: #E0DAD6;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-picture {
  max-width: 33px;
  max-height: 33px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.message-list {
  margin-top: 12px;
  padding: 0 5%;
}

.message-wrapper {
  margin-bottom: 9px;
}
.message-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.message {
  display: inline-block;
  position: relative;
  max-width: 236px;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.message.message-mine {
  float: right;
  background-color: #DCF8C6;
}
.message.message-other {
  float: left;
  background-color: #FFF;
}
.message.message-other::before, .message.message-mine::before {
  content: "";
  position: absolute;
  bottom: 3px;
  width: 12px;
  height: 19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.message.message-other::before {
  left: -11px;
  background-image: url(img/message-other.png);
}
.message.message-mine::before {
  right: -11px;
  background-image: url(img/message-mine.png);
}
.message .message-text {
  padding: 5px 7px;
  word-wrap: break-word;
}
.message .message-text::after {
  content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  display: inline;
}
.message .message-timestamp {
  position: absolute;
  bottom: 2px;
  right: 7px;
  color: gray;
  font-size: 12px;
}
.message .read-notice {
  position: absolute;
  bottom: 2px;
  right: 37px;
  color: gray;
  font-size: 12px;
}
.message .sent-notice {
  position: absolute;
  bottom: 2px;
  right: 37px;
  color: gray;
  font-size: 12px;
}

.footer-chat .item-input-wrapper {
  background-color: #FFF;
}
.footer-chat .button.button-icon {
  margin: 0 10px;
}
.footer-chat .buttons-seperator {
  color: gray;
  font-size: 18px;
  line-height: 32px;
}


</style>