<ion-modal-view ng-controller="NewConversationCtrl">
  <ion-header-bar>
    <h1 class="title">New Conversation</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="hideModal()">Cancel</button>
    </div>
  </ion-header-bar>



  <ion-content overflow-scroll="true" padding="true" class="has-header">
  <div class="item-input-inset">
            <label class="item-input-wrapper textbox-search">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="searchText">
            </label>

        </div>
        <ion-list>
        <ion-item ng-show="!users.length">No users</ion-item>
            <ion-item
        ng-click="newConversation('{{user.id}}', '{{user.username}}')"
        ng-repeat="user in users | filter: { id: '!'+thisUserId } | filter: searchText"
        class="item-message item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap">
        <img ng-src="http://vignette1.wikia.nocookie.net/legomessageboards/images/9/91/Avatar-placeholder.png/revision/latest?cb=20150616201536">
        <h2>{{user.username}}</h2>
        <p>{{user.email}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(message)">
      </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>