<ion-view title="News Feed" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>New episode of morning show is amazing</h2>
                <p>Anyone else watched the show yesterday?</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Winter is coming</h2>
                <p>Seems like winter is just around the corner</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Sri Lankans in EU</h2>
                <p>Any Sri Lankans near the Liverpool area?</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>New Show?</h2>
                <p>There seems to be a new show airing on wednesdays.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>