<ion-view title="Programmes" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Morning Show</div>
            <div class="item item-body">
                <div id="programmes-markdown1" style="color:#000000;">
                    <p>Jump start your day by tuning in to the morning show at
                        <strong>8am</strong>every morning</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Evening news</div>
            <div class="item item-body">
                <div id="programmes-markdown2" style="color:#000000;">
                    <p>Catch the very latest of what's happening around the world by joining us on the evening news at
                        <strong>7.30a.m.</strong>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>