<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="News Feed" icon="ion-ios-paper-outline" href="#/page1/">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Programmes" icon="ion-ios-videocam-outline" href="#/page1/programmes">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Chat" icon="ion-ios-chatboxes-outline" href="#/page1/page5">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>