<ion-view view-title="{{ program.title }}">
    <ion-content>
        <div class="list card">

            <div class="item item-text-wrap text-center">
                <h2>{{ episode[0].title | uppercase }}</h2>
            </div>

            <div class="item youtube-video-player">
                <iframe class="youtube-video" ng-src="{{ episode[0].url }}"
                        frameborder="0" allowfullscreen="" width="560" height="315"></iframe>
            </div>

            <div class="item row">
                <p class="col col-60">View Count</p>
                <p class="col col-20 text-center">Likes</p>
                <p class="col col-20 text-center">Dislikes</p>
            </div>
            <div class="item row">
                <p class="col col-30">{{ episode[0].viewCount }}</p>
                <p class="col col-20 text-center">{{ episode[0].likeCount }}</p>
                <p class="col col-20 text-center">{{ episode[0].dislikeCount }}</p>
            </div>

        </div>

        <div class="item item-divider text-center dark-border">
            Description
        </div>

        <div class="list card">
            <p class="item-body">{{ episode[0].description }}</p>
        </div>

        <div class="list">

            <div class="item item-divider text-center dark-border" ng-hide="comments.length">
                Comments not available
            </div>

            <div class="item item-divider text-center dark-border" ng-hide="!comments.length">
                Comments
            </div>

            <label class="item dark-border" ng-repeat="comment in comments">
                <h2 class="item-divider">{{ comment.authorDisplayName }}</h2>
                <div class="item-content item-text-wrap">{{ comment.textDisplay }}</div>
                <h3 class="item-divider">Posted on {{ comment.publishedAt | limitTo: 10 }}</h3>
            </label>

        </div>


    </ion-content>
</ion-view>