<ion-view view-title="{{ program.title }}">
    <ion-nav-buttons side="right" ng-show="true">
        <button class="button button-icon ion-compose" ng-click="loadModal(0)"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll='false' delegate-handle="userDetailContent" on-scroll="onUserDetailContentScroll()" header-shrink scroll-event-interval="5">

        <!-- Group header -->
        <div class="about-header">
            <div class="profile-media">
                <img ng-src="{{ program.imageSrc }}" class="about-image profile-background-image" style="vertical-align:middle;">
            </div>

            <div class="row like-btn">
                <div class="col text-right">
                    <div ng-class="liked ? 'bg-color-blue like-button-with-text':'bg-color-white like-button'" ng-click="like(program.title)">
                        <i class="ion-checkmark-circled" ng-class="liked ? 'color-white':'color-blue'"></i>
                        <span ng-if="liked">Liked</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="item text-center">
                <button class="button button-small button-outline button-positive tag" ng-repeat="tag in program.tags">{{ tag }}</button>
            </div>

            <p class=" item item-text-wrap" style="text-align: justify">
                <span ng-hide="clicked" ng-repeat="word in program.description | limitTo: 20 track by $index">{{ word }} </span>
                <span ng-show="clicked" ng-repeat="word in program.description">{{ word }} </span>

                <span ng-show="program.description.length > 20">
                    ...<br />
                    <a style="color: #000; font-weight: 500" ng-click="clicked = clicked != true" ng-hide="clicked">
                        More
                    </a>
                    <a style="color: #000; font-weight: 500" ng-click="clicked = clicked != true" ng-show="clicked">
                        Less
                    </a>
                </span>
            </p>
        </div>

        <div class="card" ng-hide="posts.length">
            <div class="item item-divider text-center">
                Posts not available
            </div>
            <div class="item item-text-wrap text-center">
                Start off by publishing your first post
            </div>
        </div>

        <!-- Post -->
        <div class="list card" ng-repeat="post in posts" ng-click="loadModal(post.$id)">

            <div class="item item-avatar">
                <img ng-src="{{ post.profileImage }}">
                <div class="text-right">
                    <h2>{{ post.username }}</h2>
                    <p>{{ post.dateTime | date: 'MMMM dd, yyyy | hh:mm a' }}</p>
                </div>
            </div>

            <div class="item item-body">
                <p style="text-align: justify">
                    <span ng-repeat="word in post.post.split(' ') | limitTo: 25 track by $index">{{ word }} </span>
                    <span ng-show="post.post.split(' ').length > 25">...<a> See more</a></span>
                </p>
            </div>

            <div class="item item-body" ng-show="post.images.length" ng-if="post.images.length">
                <ion-slide-box auto-play="false" show-pager="true">
                    <ion-slide class="text-center" data-ng-repeat="img in post.images">
                        <div class="profile-media" style="background-color: white">
                            <img ng-src="{{ img.src }}" class="full-image" style="height: 300px; width: auto; vertical-align:middle">
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>

            <div class="item row" style="font-weight: normal">
                <div class="col text-center">
                    <span>{{ post.likeCount || "0" }} Like(s)</span>
                </div>
                <div class="col text-center" ng-show="post.images.length > 0">
                    <span>{{ post.images.length || "0" }} Image(s)</span>
                </div>
                <div class="col text-center">
                    <span>{{ post.commentCount || "0" }} Comment(s)</span>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>