<ion-modal-view ng-controller="PostViewModalCtrl">

    <ion-header-bar>
        <button class="button button-clear button-assertive" ng-click="dismissModal()">Dismiss</button>
        <button class="button button-clear button-assertive" ng-show="post[0].userId == userId"
                ng-click="deletePost(post[0].$id)">Delete</button>
    </ion-header-bar>

    <ion-content>

        <div class="card" ng-hide="post[0].$id">
            <div class="item item-divider text-center">
                Post not available
            </div>
            <div class="item item-text-wrap text-center">
                The post you are trying to view may have been deleted
            </div>
        </div>

        <div class="list card" ng-show="post[0].$id">

            <div class="item item-avatar">
                <img src="{{ post[0].profileImage }}">
                <div class="text-right">
                    <h2>{{ post[0].username }}</h2>
                    <p>{{ post[0].dateTime | date: 'MMMM dd, yyyy | hh:mm a' }}</p>
                </div>
            </div>

            <div class="item item-body">
                <p style="text-align: justify">
                    <span ng-show="post[0].origin" style="font-weight: bold">
                        {{ post[0].origin }} post by {{ post[0].originalUser }}<br />
                        From {{ post[0].originalDate | date: 'MMMM dd, yyyy' }}<br />
                    </span>
                    {{ post[0].post }}
                </p>
            </div>

            <div class="item item-body" ng-show="post[0].images.length" ng-if="post[0].images.length">
                <ion-gallery ion-gallery-items="post[0].images"></ion-gallery>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-hide="postLiked" ng-click="toggleLike('like', post[0].$id)">
                    <i class="icon ion-heart"></i> Like
                </a>
                <a class="tab-item" ng-show="postLiked" ng-click="toggleLike('unlike', post[0].$id)" style="color: #0c60ee">
                    <i class="icon ion-heart"></i> Liked
                </a>
                <a class="tab-item" ng-click="sharePost(post[0])">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>

        </div>

        <div ng-repeat="comment in post[0].comments">

            <div class="list card">

                <a class="item item-avatar-right" ng-click="tagInComment(comment.username.split(' ')[0])">
                    <img src="{{ comment.profileImage }}">
                    <h2>{{ comment.username }}</h2>
                    <p>{{ comment.dateTime | date: 'MMMM dd, yyyy | hh:mm a' }}</p>
                </a>

                <div class="item item-body">
                    <p style="text-align: justify; margin-top: 0">
                        {{ comment.comment }}
                    </p>
                </div>

            </div>

        </div>

    </ion-content>

    <ion-footer-bar>
        <div keyboard-attach class="bar bar-footer bar-stable item-input-inset post-bar">

            <label class="item-input-wrapper">
                <input id="commentTextfield" type="text" placeholder="Post Comment..." ng-focus="ajustarScroll()"
                       ng-blur="ajustarScroll()" ng-model="message.text">
            </label>

            <div ng-class="{ocultar:!message.text}" ng-click="postComment(post[0].$id)" class="button button-clear button-positive">
                Post
            </div>
        </div>
    </ion-footer-bar>

</ion-modal-view>
