<ion-modal-view ng-controller="PostPublishModalCtrl">

    <ion-header-bar>
        <button class="button button-clear button-assertive" ng-click="dismissModal(0)">Dismiss</button>
        <h1 class="title">Post</h1>
        <button class="button button-clear button-positive" ng-disabled="publish.text.trim() == ''"
                ng-click="uploadToFirebase();dismissModal(0)">Publish</button>
    </ion-header-bar>

    <ion-content>

        <div class="list card">
            <div class="item item-body">
                <textarea ng-model="publish.text" placeholder="Share with Colombo TV" rows="8" style="width: 100%; height: 100%; resize: vertical"></textarea>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="getImages('camera')">
                    <i class="icon ion-camera"></i>
                </a>

                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="getImages('library')">
                    <i class="icon ion-images"></i>
                </a>
            </div>
        </div>

        <div ng-hide="imageURLs.length > 0" class="bar bar-stable">
            <h1 class="title">No images added</h1>
        </div>

        <ion-gallery ion-gallery-items="imageURLs"></ion-gallery>

        <button class="button button-full button-positive" ng-show="imageURLs.length" ng-click="clearImages()">Clear Images</button>

    </ion-content>

</ion-modal-view>
