<ion-view view-title="Programs">
    <ion-content>

        <div class="list card" ng-repeat="program in programs">

            <div class="item item-divider text-center">
                <h2>{{ program.title }}</h2>
                <p>{{ program.tags }}</p>
            </div>

            <div class="item item-image">
                <img ng-src="{{ program.imageSrc }}">
            </div>

            <div class="item item-divider row" style="">
                <div class="col">
                    <a class="button button-block button-balanced" ng-href="#/app/programs/episodes/{{ program.id }}">Episodes</a>
                </div>

                <div class="col">
                    <a class="button button-block button-balanced" ng-href="#/app/programs/group/{{ program.id }}">Group</a>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>