<ion-view view-title="{{program.title}}">
    <ion-content class="has-input">
        <button class="button button-full button-assertive" ng-click="displayEpisodeList('')" ng-hide="episodes.length">
            End of results. Tap to reload
        </button>

        <button class="item button button-full button-positive" style="border: 1px solid darkgrey" ng-click="showFilter()" ng-hide="!episodes.length">
            Filter
        </button>

        <div class="row responsive-sm" ng-show="visible">
            <div class="list col col-60 less-margin">
                <label class="item item-input item-select">

                    <div class="input-label">Sort by</div>

                    <select ng-model="select.sortBy">
                        <option value="date">Upload Date</option>
                        <option value="viewCount">View Count</option>
                        <option value="rating">Rating</option>
                    </select>

                </label>
            </div>

            <div class="list col col-40 less-margin">
                <label class="item item-input item-select">

                    <div class="input-label">Videos</div>

                    <select ng-model="select.videosPerPage">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                    </select>

                </label>
            </div>
        </div>

        <div class="list card" ng-repeat="episode in episodes">

            <a ng-href="#/app/programs/episodes/{{ programId }}/{{ episode.videoId }}" style="text-decoration: none">
                <div class="item item-text-wrap">
                    <h2>{{ episode.title | uppercase }}</h2>
                    <p><i class="ion ion-calendar"></i> {{ episode.publishedAt | limitTo: 10 }}</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" ng-src="{{ episode.thumbnail }}">
                </div>
            </a>
        </div>

    </ion-content>

    <ion-footer-bar style="vertical-align: middle">
        <button class="button button-clear" style="color: #555555" ng-click="displayEpisodeList(tokens.prevPageToken)" ng-show="tokens.prevPageToken.length">
            <i class="icon ion-chevron-left"></i> PREV
        </button>
        <button class="button button-clear" style="color: #555555" ng-click="displayEpisodeList(tokens.nextPageToken)" ng-show="episodes.length">
            NEXT <i class="icon ion-chevron-right"></i>
        </button>
    </ion-footer-bar>
</ion-view>