<!--This view contains the list of all users-->
<ion-view view-title="Users" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query.username" placeholder="Search">
        </label>
    </div>
    <ion-content class="has-subheader">        
        <ion-list>
            <ion-item ng-repeat="user in members | toArray:false | filter:query | filter: { id: '!'+thisUserId }" class="item item-avatar item-icon-right item-text-wrap" href="#/app/view_user/{{user.unique_id}}">
                <img id="users-image" ng-src="data:image/jpeg;base64,{{user.image}}" ng-if="user.reg_type=='normal' && user.image !== 'none'" >
                <img id="users-image" ng-src="{{user.image}}" ng-if="user.reg_type=='facebook' || user.reg_type=='google'">
                <img ng-src="http://vignette1.wikia.nocookie.net/legomessageboards/images/9/91/Avatar-placeholder.png/revision/latest?cb=20150616201536" ng-if="user.image=='none'">
    
                <h2>{{user.username}}</h2>
                <h3>{{user.email}}</h3>
            </ion-item>
        </ion-list>    
    </ion-content>
</ion-view>

