<!--This view contains the list of all blocked users-->
<ion-view view-title="Blocked"  hide-back-button="false" cache-view="false">
    
    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query.blocked_name" placeholder="Search">
        </label>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher on-refresh="dorefresh()"></ion-refresher>
        <ion-list>
            <ion-item ng-repeat="user in blocked | toArray:false | filter:query" class="item item-avatar item-icon-right item-text-wrap" href="#/app/view_user/{{user.blocked_id}}">
                <img id="users-image" ng-src="data:image/jpeg;base64,{{user.blocked_image}}" ng-if="user.blocked_reg_type == 'normal' && user.blocked_image !== 'none'" >
                <img id="users-image" ng-src="{{user.blocked_image}}" ng-if="user.blocked_reg_type=='facebook' || user.blocked_reg_type=='google'">
                <img ng-src="http://vignette1.wikia.nocookie.net/legomessageboards/images/9/91/Avatar-placeholder.png/revision/latest?cb=20150616201536" ng-if="user.blocked_image=='none'">
                <h2>{{user.blocked_name}}</h2>
            </ion-item>
            
            <ion-item ng-show="blocked_data"><p style="color:red">There are no blocked users</p></ion-item>
        </ion-list>    
    </ion-content>
</ion-view>