<!--This view contains the list of all followers of other users-->
<ion-view view-title="Followers"  hide-back-button="false" cache-view="false">

    
    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query.follower_name" placeholder="Search">
        </label>
    </div>
    <ion-content class="has-subheader">
         <ion-refresher on-refresh="dorefresh()"></ion-refresher>
        <ion-list>
            <ion-item ng-repeat="user in follower | toArray:false | filter:query" class="item item-avatar item-icon-right item-text-wrap" href="#/app/view_user/{{user.follower_id}}">
                <img id="users-image" ng-src="data:image/jpeg;base64,{{user.follower_image}}" ng-if="user.follower_reg_type == 'normal' && user.follower_image !== 'none'" >
                <img id="users-image" ng-src="{{user.follower_image}}" ng-if="user.follower_reg_type=='facebook' || user.follower_reg_type=='google'">
                <img ng-src="http://vignette1.wikia.nocookie.net/legomessageboards/images/9/91/Avatar-placeholder.png/revision/latest?cb=20150616201536" ng-if="user.follower_image=='none'">
                <h2>{{user.follower_name}}</h2>
            </ion-item>
            
            <ion-item ng-show="follower_data"><p style="color:red">There are no users that are following you</p></ion-item>
        </ion-list>    
    </ion-content>
</ion-view>