<!--This view contains single user details-->
<ion-view view-title="View User" hide-back-button="false" cache-view="false">
    <ion-nav-buttons side="right" ng-show="true">
        <button class="button button-icon button-clear ion-gear-a" ng-click="openPopover($event)">
        </button>
      </ion-nav-buttons>
    <ion-content class="has-header">
         <ion-item ng-if="dont_display" style="background-color:red"><h2 style="color:white">you have been blocked by {{user_to_view.username}} !</h2></ion-item>
        
        <div class="list"  ng-hide="dont_display">           
            <ion-item class="item item-thumbnail-left" href="#">
                <img ng-src="data:image/jpeg;base64,{{user_to_view.image}}" ng-if="user_to_view.reg_type=='normal' && user_to_view.image !== 'none'">
                <img ng-src="{{user_to_view.image}}" ng-if="user_to_view.reg_type=='facebook' || user_to_view.reg_type=='google'">
                <img ng-src="http://vignette1.wikia.nocookie.net/legomessageboards/images/9/91/Avatar-placeholder.png/revision/latest?cb=20150616201536" ng-if="user_to_view.image=='none'">
                <div class = "row">
                    <a style="font-size:15px !important;text-align:center;padding-left:2em;color:#5F6C7B;text-decoration: none;" href="#/app/view_other_following/{{user_to_view.unique_id}}"><b>{{following_num}}</b><br>following</a> 
                    <a style="font-size:15px !important;text-align:center;padding-left:2em;color:#5F6C7B;text-decoration: none;" href="#/app/view_other_followers/{{user_to_view.unique_id}}"><b>{{followers_num}}</b><br>followers</a>
                </div> 
            <ion-raw>
                <button class="button button-small button-outline button-positive" style="width:100px;margin-left:6px" ng-click="followUser(user_to_view.unique_id)" ng-hide="followbtn">Follow</button>
                <button class="button button-small button-positive" style="width:100px;margin-left:6px" ng-click="unfollowUser(user_to_view.unique_id)" ng-hide="ufollowbtn">Following</button>
                &ensp;
                <button class="button button-small button-outline button-assertive" style="width:100px" ng-hide="blockbtn" ng-click="blockUser(user_to_view.unique_id)">Block</button>
                <button class="button button-small button-assertive" style="width:100px" ng-hide="unblockbtn" ng-click="unblockUser(user_to_view.unique_id)">Unblock</button>
            </ion-raw>
            </ion-item>

            <ion-item><h2 style="text-align: center"><b>{{user_to_view.username}}</b></h2></ion-item>
            <ion-item class="item-divider">General Information</ion-item>
            <ion-list inset>
                <ion-item><h2>Country : {{user_to_view.country}}</h2></ion-item>
                <ion-item><h2>Age : {{user_to_view.Age}}</h2></ion-item>
                <ion-item><h2>Gender : {{user_to_view.Gender}}</h2></ion-item>
                <ion-item><h2>E-mail : {{user_to_view.email}}</h2></ion-item>            
            </ion-list>
            <br>
            <ion-item class="item-divider">Favourite Programs</ion-item>
            
            <div class="row responsive-md">
                   <ion-item ng-repeat="program in list" href="#/app/programs/group/{{ program.id }}" class="col col-25">
                <img ng-src="{{program.imageSrc}}" >
                <h2 style="text-align:center">{{program.title}}</h2>
            </ion-item>
            <ion-item ng-show="!list.length"><h2 style="color:grey">No Favourite Programs</h2></ion-item>
                </div>
            
           
        </div>
</ion-content>

</ion-view>    
    
