<ion-view view-title="Favourite Programs">
    <ion-nav-title>Favourite Programs</ion-nav-title>
    <ion-content>

        <ion-refresher pulling-text="Pull to Reload..." on-refresh="refreshFavourite()"></ion-refresher>

        <div class="card" ng-hide="programs.length">
            <div class="item item-divider text-center">
                Favourite programs not available
            </div>
            <div class="item item-text-wrap text-center">
                Follow a program by liking it under the program group section to view a list of favourite programs
            </div>
        </div>

        <div class="list card" ng-repeat="program in programs">

            <div class="item item-divider text-center">
                <h2>{{ program.title }}</h2>
                <p>{{ program.tags }}</p>
            </div>

            <div class="item item-image">
                <img ng-src="{{ program.imageSrc }}">
            </div>

            <div class="item item-divider row" style="">
                <div class="col">
                    <a class="button button-block button-balanced" ng-href="#/app/programs/episodes/{{ program.id }}">Episodes</a>
                </div>

                <div class="col">
                    <a class="button button-block button-balanced" ng-href="#/app/programs/group/{{ program.id }}">Group</a>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>