<ion-view view-title="Home">
    <ion-nav-title>Home</ion-nav-title>

    <ion-tabs class="tabs-icon-top tabs-stable">
        <ion-tab title="Newsfeed" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#/app/home/newsfeed">
            <ion-nav-view name="newsfeed"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Favourite" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/app/home/favourite">
            <ion-nav-view name="favourite"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Nearby" icon-on="ion-ios-navigate" icon-off="ion-ios-navigate-outline" href="#/app/home/nearby">
            <ion-nav-view name="nearby"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Upcoming" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" href="#/app/home/upcoming"  badge="data.badgeCount" badge-style="badge-assertive" ng-controller="notifications" >
            <ion-nav-view name="upcoming"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>
