<ion-view view-title="Nearby Friends">
    <ion-nav-title>Nearby Friends</ion-nav-title>
    <ion-content>
        <ion-refresher pulling-text="Pull to Reload..." on-refresh="refreshLocations()"></ion-refresher>
        <ion-list>
            <ion-toggle  ng-model="setting.shareLocation" ng-change="refreshLocations()">
                Share Location
            </ion-toggle>
        </ion-list>


        <div class="list" ng-if="setting.shareLocation">

            <div class="item item-divider">
                My Location
            </div>

            <a class="item item-avatar" href="#/app/home/nearby/{{ coords.lat }}/{{ coords.lng }}">
                <img ng-src="{{ profileImage }}">
                <h2>{{ username }}</h2>
                <p>{{ currentLocation }}</p>
            </a>

            <div class="item item-divider">
                Nearby Friends
            </div>

            <a class="item text-center" ng-hide="nearby.length">
                Your friends are not available nearby<br />or<br />They are not sharing their location
            </a>

            <a ng-repeat="friend in nearby" class="item item-avatar" href="#/app/home/nearby/{{ friend.latitude }}/{{ friend.longitude }}">
                <img ng-src="{{ friend.profileImage }}">
                <h2>{{ friend.username }}</h2>
                <p>{{ friend.location }}</p>
                <p>{{ friend.dateTime |  date: 'MMMM dd, yyyy @ hh:mm a' }}</p>
            </a>

        </div>
    </ion-content>
</ion-view>