<ion-view view-title="Newsfeed">
    <ion-nav-title>Newsfeed</ion-nav-title>
    <ion-content>

        <ion-refresher pulling-text="Pull to Reload..." on-refresh="refreshNewsfeed()"></ion-refresher>

        <div class="list">

            <a class="item item-avatar" ng-click="loadModal(0)">
                <img ng-src="{{ profileImage }}">
                <h2>Hi, {{ username }}</h2>
                <p>What do you want to share today?</p>
            </a>

        </div>

        <div class="card" ng-hide="posts.length">
            <div class="item item-divider text-center">
                Posts not available
            </div>
            <div class="item item-text-wrap text-center">
                Interact with our app to fill page with contents.<br />You can publish your own post<br />or<br />
                Follow a friend to view their posts
            </div>
        </div>

        <div class="list card" ng-repeat="post in posts" ng-click="loadModal(post.$id)">

            <div class="item item-avatar">
                <img ng-src="{{ post.profileImage }}">
                <div class="text-right">
                    <h2>{{ post.username }}</h2>
                    <p>{{ post.dateTime | date: 'MMMM dd, yyyy | hh:mm a' }}</p>
                </div>
            </div>

            <div class="item item-body">
                <p style="text-align: justify">
                    <span ng-show="post.origin" style="font-weight: bold">Shared: </span>
                    <span ng-repeat="word in post.post.split(' ') | limitTo: 25 track by $index">{{ word }} </span>
                    <span ng-show="post.post.split(' ').length > 25">...<a> See more</a></span>
                </p>
            </div>

            <div class="item item-body" ng-show="post.images.length" ng-if="post.images.length">
                <ion-slide-box auto-play="false" show-pager="true">
                    <ion-slide class="text-center" data-ng-repeat="img in post.images">
                        <div class="profile-media" style="background-color: white">
                            <img ng-src="{{ img.src }}" class="full-image" style="height: 300px; width: auto; vertical-align:middle">
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>

            <div class="item row" style="font-weight: normal">
                <div class="col text-center">
                    <span>{{ post.likeCount || "0" }} Like(s)</span>
                </div>
                <div class="col text-center" ng-show="post.images.length > 0">
                    <span>{{ post.images.length || "0" }} Image(s)</span>
                </div>
                <div class="col text-center">
                    <span>{{ post.commentCount || "0" }} Comment(s)</span>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>