<ion-view view-title="Upcoming Events">
    <ion-nav-title>Upcoming Events</ion-nav-title>
    <ion-content>

        <ion-list ng-repeat="item in items" >
            <ion-item class="padding_30px">

                <p><span style="font-size:small;" >{{item.date}} </span>&nbsp;

                <p style="font-size:small;" >{{item.e_title}}</p>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
