<ion-view class="login padding" view-title="Register">
  <ion-content class="padding-top">

      <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       
      
    <!--starts registration form-->
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)" style="background-color:rgba(248, 247, 216, 0.7)">
       <div class="list">
        
           <!--label to display username error messages-->
         <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtname.$invalid  && registerForm.$submitted}">
           <span class="input-label">Username</span>
             <input name="txtname" type="text" ng-model="user.name" placeholder="username" ng-minlength="5" ng-maxlength="20" required>
         </label>
         <!--error messages for username-->
         <div class="form-errors" ng-messages="registerForm.txtname.$error" ng-if="registerForm.$submitted">
            <div class="form-error" ng-message="required">You must enter an username.</div>
            <div class="form-error" ng-message="minlength">Ops, It seems to be very short username.</div>
            <div class="form-error" ng-message="maxlength">Ops, It seems to be very large username.</div>
         </div>
        
         <!--label to display email error messages-->  
         <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtemail.$invalid  && registerForm.$submitted}">
           <span class="input-label">Email</span>
             <input name="txtemail" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
         </label>
         <!--error messages for email-->
         <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
            <div class="form-error" ng-message="required">You must enter something like example@email.com.</div>
            <div class="form-error" ng-message="email">This field is must be an email.</div>
            <div class="form-error" ng-message="maxlength">Ops, It seems to be very large email.</div>
         </div>
         
         <!--label to display passowrd error messages-->
         <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
           <span class="input-label">Password</span>
             <input name="txtpassword" type="password" ng-model="user.password" placeholder="Password" ng-minlength="5" ng-maxlength="25" ng-pattern="/(?=.*\d)/" required>
         </label>
         <!--error messages for username-->
         <div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
            <div class="form-error" ng-message="required">You must enter a password.</div>
            <div class="form-error" ng-message="minlength">Ops, It seems to be very short password.</div>
            <div class="form-error" ng-message="maxlength">Ops, It seems to be very large password.</div>
            <div class="form-error" ng-message="pattern">Password must contain a digit.</div>
        </div>
            <!--label to display invalid current password confirmation error messages-->
         <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.newPass.$invalid  && registerForm.$submitted}">
          <span class="input-label">Confirm Password</span>
           <input name="newPass"  type="password" ng-model="user.newPass" ng-pattern="user.password" placeholder="Confirm password"   ng-minlength="5" ng-maxlength="25" required>
         </label>
        <!--error messages for invalid new password confirmation-->
         <div class="form-errors" ng-messages="registerForm.newPass.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">You must enter new password again.</div>
          <div class="form-error" ng-message="pattern">Passwords doesn't match.</div>
          <div class="form-error" ng-message="minlength">Ops, It seems to be very short password.</div>
          <div class="form-error" ng-message="maxlength">Ops, It seems to be very large password.</div>
         </div>
    </div>
    
    <!--footer-->
    <div class="padding-top">
       <input type="submit" value="Register" class="button button-block button-positive"/>
    </div>
  
   </form>
   <!--registration form ends-->  
  </ion-content>
</ion-view>
