<ion-view >
    <ion-nav-title >
      Chat with {{gname}}

        <ion-nav-button side =" right " class="ion-chevron-right "ui-sref="app.group_member_details({ groupid: group_id })">
        </ion-nav-button>

    </ion-nav-title>




<ion-modal-view>
    
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        <ion-item ng-repeat="msg in messages">
            <b> {{msg.message}}</b>
            <br>
            <h4>{{msg.user_name}} {{msg.date|date:'shortTime'}}</h4>
            <h4>{{msg.date|date:'shortDate'}}</h4>
            <br>
        </ion-item>
        
        <form name="sendMessageForm" ng-submit="sendMsg(input.message,group_id)">
              <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
                  <label class="item-input-wrapper">

                <textarea  ng-model="input.message" style="width:250px;" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
                  </label>
                  <div class="footer-btn-wrap">
                    <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!input.message || input.message === ''">
                    </button>
                  </div>
              </ion-footer-bar>
        </form>    
    </ion-content>
    
</ion-modal-view>
</ion-view>