<ion-view view-title="Create chat Group">
    <ion-content>
       <form name="cratgroupForm" ng-submit="creatgroup(name,description)">
            <div class="list">


                <label class="item item-input item-stacked-label">
                    <span class="input-label">Chat Group Name</span>
                    <input type="text" style="width:350px;" placeholder="group name" ng-model="name" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Group description</span>
                   <input type="text"  style="width:350px;" placeholder="group description" ng-model="description" required>
                </label>            

                <label class="item">
                      <button class="button button-positive large_button" type="submit">Create</button>
                </label>

            </div>
        </form> 
    </ion-content>
</ion-view>
