<ion-view view-title="List of Members">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="member in members">
                <b>{{member.group_member}}</b>
              <ion-option-button class="button-assertive small_button" ng-click="">Leave Group</ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>