<ion-view view-title="Search chat Group">
    <ion-content>
       <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" style=" width:10px;" placeholder="Search here" ng-model="keyword">
       </label>
       <ion-list>

                <ion-item ng-repeat="group in groups | filter: keyword">
                    <b>{{group.group_name}}</b>
                    <br>
                    <h3>{{group.group_description}}</h3>
                    <br>
                    <button class="button button-small button-positive" ng-model='myBtn' id="{{group.group_id}}" ng-click="join_request(group.group_id)"> {{demoButton}} </button>
                </ion-item>

       </ion-list>
    </ion-content>
</ion-view>