<ion-view class="login padding" hide-nav-bar="true">
    <ion-content >
        <!--product logo-->
        <!--<div>
          <img ng-src="img/logo.jpg" style="height:200px;width:100%;"/>
        </div>-->
          
        <!--login form starts-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
         <div class="row">
  <div class="col">
    <button class="button button-block button-positive" ng-click="fbLogin()"><i class="icon ion-social-facebook"></i> <span>Sign in with Facebook</span>
      
    </button>
  </div>
</div>
        </div>
    
         <div class="row">
            <div class="col">
                <button class="button button-block button-assertive" ng-click="googleLogin()"><i class="icon ion-social-google"></i> <span>Sign in with Google</span>

                </button>
            </div>
        </div>
        
        <div class="row">
  <div class="col">
      <a href="#/signin" class="button button-block button-calm"><span>Sign In</span></a>

  </div>
            <div class="col">
                <a href="#/register" class="button button-block button-calm"><span>Sign Up</span></a>
    
  </div>
        </div>
        
        <!--end of login form-->
    </ion-content>
</ion-view>
