<ion-view class="login padding" view-title="Sign Up">
    <ion-content>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
        <!--login form starts-->
        <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)" style="background-color:rgba(248, 247, 216, 0.7)">
          <div class="list">
             
              <!--label to display email error messages-->
              <label class="item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
                <span class="input-label">Email</span>
                  <input name="txtemail" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
              </label>
              <!--error messages for invalid email-->
              <div class="form-errors" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
                <div class="form-error" ng-message="required">This field is required.</div>
                <div class="form-error" ng-message="email">This field is must be an email.</div>
                <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
                <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
              </div>
            
              <!--label to display password errors-->
              <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
                <span class="input-label">Password</span>
                  <input name="txtPassword" type="password" ng-model="user.password" placeholder="Password" ng-minlength="5" ng-maxlength="30"   required>
              </label>
              <!--error messages for invalid password-->
              <div class="form-errors" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
                <div class="form-error" ng-message="required">This field is required.</div>
                <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
                <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
              </div>
          </div>
          
          <!--footer section starts-->
          <div class="padding-top">
            <input type="submit" class="button button-block button-positive" value="Sign-In">
          </div>
            <div style="text-align:center">
             <a href="#/forgot" class="button button-clear button-positive" >Forgot password ?</a>
            </div>
           
        </form>
        <!--end of login form-->
    </ion-content>
</ion-view>
