<!--This view contains the profile details of logged in user-->
<ion-view view-title="Account" hide-back-button="true" cache-view="false" >
  <ion-content>
     <ion-lst>
         
         <!--display profile image-->
        <div id="adial-center" class="item item-image">    
            <img id="profile-image" ng-src="data:image/jpeg;base64,{{results.image}}" ng-click="addMedia()" ng-if="results.image!=='none'">
            <img id="profile-image" ng-src="http://vignette1.wikia.nocookie.net/legomessageboards/images/9/91/Avatar-placeholder.png/revision/latest?cb=20150616201536" ng-if="results.image=='none'" ng-click="addMedia()">
            <ion-raw>
                <a class="button button-clear button-positive" style="color:white" href="#/app/view_following">Following</a>
                <a class="button button-clear button-positive" style="color:white" href="#/app/view_followers">Followers</a>
                <a class="button button-clear button-positive" style="color:white" href="#/app/view_blocked">Blocked</a>
            </ion-raw>
        </div>         
         
        <!--start of general information-->
        <ion-item class="item-divider">General Profile</ion-item>
         <!--form to edit general information-->
          <form name="registerForm" novalidate ng-submit="registerForm.$valid && edit(results)">
            <div class="list">
                
              <!--label to display username error messages-->
              <label class="item item-input item-stacked-label" ng-class="{ 'has-error-lr' : registerForm.txtname.$invalid  && registerForm.$submitted}">
               <span class="input-label">Username</span>
                <input name="txtname" type="text" ng-model="results.username" placeholder="username" ng-minlength="2" ng-maxlength="20" required ng-disabled="disable">
              </label>
              <!--error messsages for invalid username-->
              <div class="form-errors" ng-messages="registerForm.txtname.$error" ng-if="registerForm.$submitted">
               <div class="form-error" ng-message="required">You must enter an username.</div>
               <div class="form-error" ng-message="minlength">Ops, It seems to be very short username.</div>
               <div class="form-error" ng-message="maxlength">Ops, It seems to be very large username.</div>
              </div>
                
                 <!--label to display age error messages-->
              <label class="item item-input item-stacked-label" ng-class="{ 'has-error-lr' : registerForm.txtage.$invalid  && registerForm.$submitted}">
               <span class="input-label">Age</span>
                <input name="txtage"  type="text" ng-model="results.Age" value=" " placeholder="Age"    ng-minlength="1" ng-maxlength="3" ng-pattern="/^[0-9]+$/" ng-disabled="disable">
               </label>
               <!--error messsages for invalid age-->
               <div class="form-errors" ng-messages="registerForm.txtage.$error" ng-if="registerForm.$submitted">
                <div class="form-error" ng-message="minlength">Ops, Invalid age. too young</div>
                <div class="form-error" ng-message="maxlength">Ops, Invalid age. too old</div>
                   <div class="form-error" ng-message="pattern">Ops, not a valid number.</div>
               </div>
                
                <!--label to display age error messages-->
              <label class="item item-input item-stacked-label" ng-class="{ 'has-error-lr' : registerForm.txtnum.$invalid  && registerForm.$submitted}">
               <span class="input-label">Contact No</span>
                <input name="txtnum"  type="text" ng-model="results.Contact_no" value=" " placeholder="Contact number"  ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/" ng-disabled="disable">
               </label>
               <!--error messsages for invalid age-->
               <div class="form-errors" ng-messages="registerForm.txtnum.$error" ng-if="registerForm.$submitted">
                <div class="form-error" ng-message="pattern">Ops, not a valid number.</div>
               </div>
                
                <label class="item item-input item-stacked-label" ng-hide="editbtn">
                    <span class="input-label">Country</span>
                        <input type="text" ng-model="results.country" value=" " placeholder="Country" ng-disabled="disable">
                </label>
                <label class="item item-input item-select" ng-hide="saveeditbtn">
                    <div class="input-label">
                        Country
                    </div>
                    <select ng-model="results.country">
                        <option selected>{{results.country}}</option>
                        <option ng-repeat="country_name in countries">{{country_name.name}}</option>
                    </select>
                </label>
                
              
                <label class="item item-input item-stacked-label" ng-hide="editbtn">
                    <span class="input-label">Gender</span>
                        <input type="text" ng-model="results.Gender" value=" " placeholder="Gender" ng-disabled="disable">
                </label>
                <label class="item item-input item-select" ng-hide="saveeditbtn">
                   <div class="input-label">Gender</div>
                     <select ng-model="results.Gender">
                        <option selected>{{results.Gender}}</option>
                        <option>Female</option>
                        <option>Male</option>
                        <option>Other</option>
                     </select>
                </label>

               
                
                
            </div> 
    
            <!--form footer-->
            <div class="padding">
                <input type="button" value="Edit" ng-click="allowtoedit()" ng-hide="editbtn" class="button button-block button-positive"/>
                <input type="submit" value="Save" ng-hide="saveeditbtn" class="button button-block button-balanced"/>
            </div>
         </form>   
            
      <!--start of private information section-->
      <ion-item class="item-divider">Private Information</ion-item> 
      <!--change password section-->
      <ion-item href="#/app/change_password">Change Password</ion-item>
      <!--change email section-->
      <ion-item href="#/app/change_email">Change Email</ion-item>
         
    </ion-lst>

        </ion-content> 
</ion-view>