<ion-view view-title="Change Password" hide-back-button="false">
   <ion-content class="padding-top">
        
      <!--starts password update form--> 
      <form name="passwordForm" novalidate ng-submit="passwordForm.$valid && changepasswords(user)">
        <div class="list">
            
         <!--label to display invalid current password error messages-->
         <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : passwordForm.oldPass.$invalid  && passwordForm.$submitted}">
           <span class="input-label">Current Password</span>
            <input name="oldPass"  type="password" ng-model="user.oldPass" placeholder="current password"r equired>
         </label>
        <!--error messages for invalid current password-->
         <div class="form-errors" ng-messages="passwordForm.oldPass.$error" ng-if="passwordForm.$submitted">
          <div class="form-error" ng-message="required">You must enter your passsowrd.</div>
         </div>
            
         <!--label to display invalid new password error messages-->
         <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : passwordForm.newpassword.$invalid  && passwordForm.$submitted}">
           <span class="input-label">New Password</span>
            <input name="newpassword"   type="password" ng-model="user.newpassword" placeholder="New Password" ng-minlength="5"             ng-maxlength="30" required>
         </label>
        <!--error messages for invalid new password-->
         <div class="form-errors" ng-messages="passwordForm.newpassword.$error" ng-if="passwordForm.$submitted">
          <div class="form-error" ng-message="required">You must enter a password.</div>
          <div class="form-error" ng-message="minlength">Ops, It seems to be very short password.</div>
          <div class="form-error" ng-message="maxlength">Ops, It seems to be very large password.</div>
         </div>
            
         <!--label to display invalid current password confirmation error messages-->
         <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : passwordForm.newPass.$invalid  && passwordForm.$submitted}">
          <span class="input-label">Confirm Password</span>
           <input name="newPass"  type="password" ng-model="user.newPass" ng-pattern="user.newpassword" placeholder="new password, again"   ng-minlength="5" ng-maxlength="25" required>
         </label>
        <!--error messages for invalid new password confirmation-->
         <div class="form-errors" ng-messages="passwordForm.newPass.$error" ng-if="passwordForm.$submitted">
          <div class="form-error" ng-message="required">You must enter new password again.</div>
          <div class="form-error" ng-message="pattern">Passwords doesn't match.</div>
          <div class="form-error" ng-message="minlength">Ops, It seems to be very short password.</div>
          <div class="form-error" ng-message="maxlength">Ops, It seems to be very large password.</div>
         </div>
       </div>
     <!--footer-->
      <div class="padding">
       <input type="submit" value="Done" class="button button-block button-positive"/>
      </div>
    </form>
          
 </ion-content>
</ion-view>
