<ion-view view-title="Change Email" hide-back-button="false">
  <ion-content class="padding-top">
    
    <!--starts password change form-->
    <form name="emailForm" novalidate ng-submit="emailForm.$valid && changeemail(user)">
     <div class="list">
       <!--label to display invalid email information error messages-->
       <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : emailForm.oldemail.$invalid  && emailForm.$submitted}">
        <span class="input-label">Current Email</span>
         <input name="oldemail"  type="email" ng-model="user.oldemail" placeholder="current email" required>
       </label>
       <!--error messages for invalid emails-->
       <div class="form-errors" ng-messages="emailForm.oldemail.$error" ng-if="emailForm.$submitted">
        <div class="form-error" ng-message="required">You must enter your email.</div>
       </div>
        <!--label to display invalid new email information error messages-->
       <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : emailForm.newemail.$invalid  && emailForm.$submitted}">
        <span class="input-label">New Email</span>
         <input name="newemail" type="email" ng-model="user.newemail" placeholder="New email" ng-minlength="2" ng-maxlength="30" required>
       </label>
       <!--error messages for invalid new email-->
       <div class="form-errors" ng-messages="emailForm.newemail.$error" ng-if="emailForm.$submitted">
        <div class="form-error" ng-message="required">You must enter an email.</div>
        <div class="form-error" ng-message="email">This field is must be an email.</div>
        <div class="form-error" ng-message="minlength">Ops, It seems to be very short email.</div>
        <div class="form-error" ng-message="maxlength">Ops, It seems to be very large email.</div>
       </div>
        
        <!--label to display invalid current password information error messages-->
       <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : emailForm.password.$invalid  && emailForm.$submitted}">
        <span class="input-label">Current Password</span>
         <input name="password"  type="password" ng-model="user.password" placeholder="current password" required>
       </label>
       <!--error messages for invalid current password-->
       <div class="form-errors" ng-messages="emailForm.password.$error" ng-if="emailForm.$submitted">
        <div class="form-error" ng-message="required">You must enter your passsowrd.</div>
       </div>
      
     <!--footer-->
     <div class="padding">
       <input type="submit" value="Done" class="button button-block button-positive"/>
     </div>
   </form>
      
  </ion-content>
</ion-view>
      