<!--This view contains the profile details of logged in user-->
<ion-view view-title="Account" hide-back-button="true" cache-view="false" >
  <ion-content>
     <ion-lst>
         
         <!--display profile image-->
        <div id="adial-center" class="item item-image" >    
            <img id="profile-image" ng-src="{{image}}">
            <ion-raw>
                <a class="button button-clear button-positive" style="color:white" href="#/app/view_following">Following</a>
                <a class="button button-clear button-positive" style="color:white" href="#/app/view_followers">Followers</a>
                <a class="button button-clear button-positive" style="color:white" href="#/app/view_blocked">Blocked</a>
            </ion-raw>
        </div>
         
        <!--start of general information-->
        <ion-item class="item-divider">General Profile</ion-item>

          <ion-list inset>
                <ion-item><h2>Name : {{username}}</h2></ion-item>
                <ion-item><h2>Age : {{age}}</h2></ion-item>
                <ion-item><h2>Gender : {{gender}}</h2></ion-item>
            
            </ion-list>
            
  
         
    </ion-lst>

        </ion-content> 
</ion-view>