.larger {
    font-size: 120px;
}


/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

  


    /*  #content {
        position: relative;
        
        background-color: white;
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 200px;
      }

     #profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
          background-color: aqua;
      }
      #profile-name {
        color: #444;
        font-size: 26px;
      }*/
     
#adial-center{

margin-top: 38px;
 /* fallback */
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: auto;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #1a82f7, #2F2727);

  /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
}

/* profile image */
#profile-image {
        display: block;
        border-radius: 100px;
        
        width: 126px;
        height: 126px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
        background-image: url(../img/placeholder.png);
         background-size: contain;
}

/* profile image lists*/
#users-image {
        display: block;
        border-radius: 100px;
        width: 126px;
        height: 126px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
        background-image: url(../img/placeholder.png);
        background-size: contain;
}

/* Program Styles */
.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.youtube-video-player {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.less-margin {
    margin-bottom: 0px !important;
}

.ionicon-size {
    font-size: 40px;
}

.tag {
    margin: 0px 10px;
    background-color: #fff;
}

/* Program page styles */

img{
    object-fit:cover;
}

/* Color Themes */
.color-blue {
    color: #007aff !important;
}
.bg-color-blue {
    background-color: #007aff !important;
}
.color-white {
    color: #ffffff !important;
}
.bg-color-white {
    background-color: #ffffff;
}

/* Program Group Header */
.img-circle {
    border-radius: 50%;
}

.about-header {
    height: 230px;
    overflow: hidden;
}
.about-image {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.like-btn{
    top: 130px;
    display: block;
    position: absolute;
}

.like-button {
    border-radius: 500px;
    width: 70px;
    float: right;
    height: 70px;
    z-index: -200;
    text-align: center;
    overflow: hidden;
    clear: both;
    color: white;
    border: 5px solid #0c60ee;
}
.like-button i{
    font-size: 40px;
    margin: 11px 0;
    display: block;
}
.like-button-with-text {
    border-radius: 500px;
    width: 70px;
    float: right;
    height: 70px;
    z-index: -200;
    text-align: center;
    overflow: hidden;
    clear: both;
    color: white;
    border: 5px solid #fff;
}
.like-button-with-text i{
    font-size: 35px;
    margin: 4px 0;
    display: block;
    margin-bottom: -3px !important;
}
.like-button-with-text span{
    font-size: 11px;
}

.profile-media {
    background: #000; 
    min-height: 237px; 
    overflow: hidden; 
    position: relative;
}

.profile-media .profile-background-image {
    
    position: absolute;
    object-cover: fit;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
}

.profile-media .profile-details {
    text-align: center; 
    position: absolute; 
    width: 100%; 
    color: #fff; 
    padding: 20px 5% 0 5%;
}

.profile-media .profile-details .profile-image {
    width: 76px;
    height: 76px;
    object-cover: fit; 
    border: 4px solid rgba(255, 255, 255, 0.9);
}

/* post bar */
.post-bar {
    background-image: linear-gradient(0deg, #737373, #FFFFFF 50%, transparent 50%) !important; 
}

.post-bar .icon {
    font-size: 26px;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.4); 
}

.post-bar .item-input-wrapper {
    background: #fff;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; 
}

.post-bar .item-input-wrapper input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3) !important; 
}

.post-bar .button {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 0px;
    font-weight: bold !important;
    margin-left: 4px;
    margin-right: -5px;
    font-size: 13px; 
}
.post-bar .button.ocultar {
    display: none; 
}

.login {
        background: url(../img/logo3.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
       
    }

.center{
    margin-top: 90%;
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}